body {
    font-family: sans-serif;
    background-color: #100B2D;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
    background-color: #A62A00;
    padding: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 15px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: #FF0505;
    text-decoration: none;
    background-color: #6AEE06;
    border-radius: 50px;
    margin:20px;
    padding: 30px;
    display: flex;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
    color: white;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    text-align: center;
}

article {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin:20px;
}

.article-but {
    text-decoration: none;
    background-color: #C5AB14;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #36D88A;
    padding: 15px;
    display: flex;
}

footer a {
    margin-right: 20px;
}

footer p {
    font-size: 24px;
}
.photogry{
    width: 1199px;
    height: 300px;
}
